.footer-main-section {
    margin-bottom: -2rem;
}

.bottom-left-img {
    bottom: -0.7rem;
    width: 500px;
    bottom: -0.9rem;
    position: relative;
    left: 0.4rem;
    margin-top: -1rem;
}

.bottom-right-img {
    width: 500px;
    position: absolute;
    right: 0.25rem;
    display: flex;
    margin-top: -4.5rem;
}

.footer-text {
    font-size: 12px;
    line-height: 160%;
    letter-spacing: 0;
    font-weight: 400;
    font-family: 'Geom';
    color: rgb(117 131 93/1);
    text-transform: uppercase;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: -3rem;
    margin-left: 15rem;
}

.mobile-img {
    display: none;
}

@media (min-width: 300px)and (max-width: 1027px) {
    .footer-content {
        display: none;
    }

    .desktop-img {
        display: none;
    }

    .mobile-img {
        display: block;
        width: 150px;
    }
}